#searchForm{
	display: black;
	float: right;
	min-width: 120px;
	height: 30px;
	margin: 10px;
	display: flex;
}
#searchVal{
	width: 100px;
	height: 30px;
	box-sizing: border-box;
	margin:0 1px;
}
#searchBtn{
	width: 40px;
	height: 30px;
	padding: 0;
	background-color: buttonface;
    border: 1px solid rgb(133, 133, 133);
    margin:0 1px;
    cursor: pointer;
}
#prodList-wrap{
	width: 1000px;
    min-height: 500px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}

.prod-wrap{
	width: 300px;
	min-height: 200px;
	border: 1px solid #cdcdcd;
	margin: 10px 0;
	cursor: pointer;
}
.prod-img{
	width: 100%;
	height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.prod-info{
	width: 100%;
    height: 50px;
    text-align: center;
}
.prod-name{
	font-size: 17px;
    font-weight: bold;
    margin: 3px;
}
.prod-price{
	font-size: 13px;
    color: blue;
    margin:0;
}
#pageBtn-wrap{
	width: 1000px;
	height: 30px;
	line-height: 30px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
#pageBtn-wrap span{
	margin: 0 5px;
}
.pagingBtn{
	cursor: pointer;
}
#pageBtn-wrap span:HOVER{
	color: blue;
	font-size: x-large;
}